<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">MiniCar Inc.</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/home">Home</a>  
        <a class="nav-item nav-link" href="/list">Cars</a>
        <a class="nav-item nav-link" href="/animate">Show Cars</a>
        <a class="nav-item nav-link" href="/contact">Contact Us</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/TonyGregg/" target="_blank">
          <i class="fa fa-github"></i>
        </a>
  
      </div>
    </div>
  </nav>
  
  